<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title> Ryan's CRM</title>
  </head>
  <body>
    <h1>Ryan's CRM</h1>
    <nav class="index">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contacts/new">Add a Contact</a></li>
        <li><a href='/about'>About</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
  <footer> © Bitmaker 2017 </footer>
</html>
