<h1>Add a new Contact!</h1>

<form action='/contacts' method='post'>
  <input type='text' name='first_name' placeholder="First name..">
  <input type='text' name='last_name' placeholder="Last name..">
  <input type='text' name='number'placeholder="Phone number..">
  <input type='text' name='email'placeholder="example@email.com">
  <input type='text' name='note'placeholder="Comments...">
  <input type='submit' value='Create'>
</form>
